*.fbx filter=lfs diff=lfs merge=lfs binary
*.dae filter=lfs diff=lfs merge=lfs binary
*.png filter=lfs diff=lfs merge=lfs binary
*.jpg filter=lfs diff=lfs merge=lfs binary
*.jpeg filter=lfs diff=lfs merge=lfs binary
*.tif filter=lfs diff=lfs merge=lfs binary
*.exr filter=lfs diff=lfs merge=lfs binary
*.blend filter=lfs diff=lfs merge=lfs binary
*.pdf filter=lfs diff=lfs merge=lfs binary
*.psd filter=lfs diff=lfs merge=lfs binary
